.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 100vh;
  width: 100%;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 500px;
  padding: 2%;
}

h1 {
  margin-bottom: 7%;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

.input {
  margin-bottom: 16px;
  width: 100%;
  padding: 4%;
  font-size: 14px;
  &::placeholder {
    font-size: 14px;
  }
}

.button {
  width: 100%;
  padding: 4%;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5%;
  font-size: 14px;
}

.remember {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
}

.button:hover {
  background-color: #303f9f;
}

.error {
  color: red;
  margin-bottom: 14px;
}

.link {
  margin-top: 4%;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    transition: all 0.3s;
    color: #3f51b5;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 900px) {
  .form {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .link {
    flex-direction: column;
    row-gap: 5px;
    a,
    p {
      font-size: 11px;
    }
  }
  h1 {
    font-size: 23px;
  }
  .input {
    font-size: 12px;
    &::placeholder {
      font-size: 12px;
    }
  }
  .remember {
    font-size: 12px;
  }
  .button {
    font-size: 13px;
  }
}
