.searchContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3%;
  width: 370px;
  margin-bottom: 2%;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.7%;
  input {
    font-size: 14px;
    padding: 3%;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #999999;
    &::placeholder {
      font-size: 14px;
      color: #999999;
    }
  }
  svg {
    height: auto;
    width: 8%;
    color: #999999;
  }
}

@media screen and (max-width: 900px) {
  .searchContainer {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .searchContainer {
    margin: 4% 0%;
    width: 100%;
    padding: 2%;
    input {
      font-size: 14px;
      padding: 2% 3%;
      &::placeholder {
        font-size: 14px;
      }
    }
    svg {
      width: 6%;
    }
  }
}
