:root 
{
    --apple-blue: rgb(10, 132, 255);
    --apple-yellow: #FFCC00;
    --main-radius: 20px;
}


html, body
{
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#root
{
  
    flex: 1;
    display: grid;
    row-gap: 30px;

    padding: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root > *
{
    width: 100%;
}

.search-div
{
    /* width: 30%; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.search
{
    background-color: #e3edf7;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: var(--main-radius);
    border-width: 0px;
    padding: 0 1.2rem;
}

.search-icon
{
    height: 2rem;
    padding-right: 20px;
}

.projects-div
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.projects-div
{
    flex: 1;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
}

.column-div
{
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--main-radius) * 1.5);
    padding: 18px;
    background-color: var(--apple-blue);
}

.column-name
{
    color: white;
    padding-left: 25px;
}

.card
{
    min-height: 100px;
    border-radius: var(--main-radius);
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    /* min-width: 250px; */
}

.card:hover
{
    /* background-color: rgb(171, 213, 255); */
    background-color: #e3edf7;
}

.card-group
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-div
{
    padding: 0.2rem 1.6rem;
    border-radius: var(--main-radius);
    background-color: var(--apple-yellow);
    color: white;
    font-weight: 700;
    /* background-color: rgb(250, 228, 120); */
}


.card-move
{
    display: flex;
    height: 30px;
}


.plus-icon
{
    height: 25px;
}

.add-task-div
{
    display: flex;
    
}

.add-task-button
{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    background-color: white;
    border: none;
    border-radius: var(--main-radius);
    height: 100px;   
}

.move-button
{
    border: none;
    background-color: transparent;
}

button
{
    cursor: pointer;
}

@media (max-width: 1000px) 
{
    #root
    {
        padding: 16px;
        /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }

    .search-icon
    {
        display: none;
    }

    .projects-div
    {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: auto;
    }

    .column-div
    {
        border-radius: 32px;
    }

    .card
    {
        min-width: 60vw;
        flex: 0 0 auto;
        padding: 25px;
        border-radius: 25px;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
    .card-move
    {
        display: none;
    }
    .add-task-button
    {
        height: 75px;
    }
}